body{
    background-color: silver;
    color: gray;
}
form{
    width: 450px;
    border: 4px solid magenta;
    background-color: black;
    padding: 30px;
  }

.ToSayArrayText {
    background-color: green;
    color: purple;
    font-size: 200%;
}

.ToSayArrayText:hover {
    background-color: lightgreen;
}